@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');



*{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-weight: 500;
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-image: url(img-1.jpeg);
	backdrop-filter: brightness(60%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

/* header */
.header{
	text-align: center;
	margin-bottom: 15px;
	margin-top: -70px;
}
.header h1{
	/*font-family: 'Racing Sans One', cursive;*/
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 50px;
}
/* container */
.container{
	background-color: rgba(0,0,0,0.70);
	text-align: center;
	padding: 30px 15px;
	border-radius: 10px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
	width: 95vw;
	backdrop-filter: blur(20px);
	height: 110px;
	overflow: hidden;
	transition: 0.3s;
}


/* search bar */
.search-bar{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#search{
	border: none;
	outline: none;
	height: 45px;
	border-radius: 100px;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	width: 80%;
	background-color: rgba(255,255,255,0.25);
	transition: 0.35s;
	color: white;
}
#search::placeholder{
	opacity: 0.7;
	color: white;
}
#search:focus{
	background-color: rgba(255,255,255,0.90);
	box-shadow: 0 0 0 4px rgba(255,255,255,0.25);
	color: black;
}
#searchBtn{
	border: none;
	height: 45px;
	border-radius: 100px;
	width: 45px;
	background-color: rgba(255,255,255,0.25);
	font-size: 20px;
	transition: 0.175s;
}
#searchBtn i{
	color: white;
}
#searchBtn:focus{
	color: black;
}
#searchBtn:active{
	transform: scale(0.6);
	background-color: white;
}


/* weather container */
.weather{
	text-align: start;
	display: none;
	margin-top: 30px;
}


.info-1{
	
}
.degree{
	text-align: center;
	width: 100%;
}
.degree #c{
	font-weight: 500;
	font-size: 26px;
	color: rgba(255,255,255,0.70);
	margin-left: -5px;
}
.degree #degree{
	font-weight: 900;
	font-size: 75px;
	color: white;
}
.degree #city{
	font-weight: 900;
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.degree #city-logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.degree i{
	color: white;
	font-size: 22px;
	color: white;
	margin-right: 20px;
}
.degree #country{
	color: white;
	font-weight: 700;
	font-size: 20px;
	text-align: start;
}
.degree #country-png{
	width: 21.5px;
	height: 21.5px;
	margin: 5px;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.20);
	border-radius: 100px;
	margin-bottom: -0.3px;
}






.info-2{
	text-align: start;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
}
.info-2 ul{
	width: 100%;
	margin: auto;
}
.info-2 ul li{
	list-style: none;
	margin-bottom: 8px;
	color: rgba(255,255,255,0.60);
	font-weight: 500;
	background-color: rgba(0,0,0,0.20);
	padding: 13px;
	border-radius: 10px;
	width: 98%;
	text-align: center;
	position: relative;
	margin: auto;
	margin-top: 8px;
}
#icon{
	width: 40px;
	height: 40px;
	margin-bottom: 0px;
	visibility: hidden;
	position: absolute;
	bottom: 4.5px;
}
.info-2 ul li span{
	color: white;
	font-weight: 800;
}

.info-2 i{
	color: rgba(255,255,255,0.60);
	margin-left: -5px;
	font-size: 14px;
}





.error {
	padding: 10px;
	font-weight: 700;
	font-size: 22px;
	margin-top: 20px;
	display: none;
}
.error #try{
	color: rgba(222, 228, 0, 1);
}
